table{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

/*____________________Exercice 1______________________________*/

.tg-brown{
    background-color:#963400;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.tg-orange{
    background-color:#f56b00;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.tg-beige{
    background-color:#ffce93;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

/*____________________Exercice 2______________________________*/

.tg-grey01{
    background-color: #BEBEBE;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.tg-grey02{
    background-color: #808080;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.tg-grey03{
    background-color: #404040;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.tg-grey04{
    background-color: #000000;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

/*____________________Exercice 3______________________________*/

.tg-white{
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-collapse: solid;
}
.tg-pink{
    background-color: #eb5d79;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-collapse: solid;
}
.tg-red{
    background-color: #b40024;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-collapse: solid;
}
.toppink{
    background-color: #eb5d79;
    width: 30px;
    height: 5px;
}

.lowpink{
    background-color: #eb5d79;
    width: 30px;
    height: 5px;
}
.topred{
    background-color: #b40024;
    width: 30px;
    height: 5px;
}

.lowred{
    background-color: #b40024;
    width: 30px;
    height: 5px; 
}

.gauche01red{
    background-color: #b40024;
    width: 5px;
    height: 30px;
}

.gauche02pink{
    background-color: #eb5d79;
    width: 5px;
    height: 30px;
}

.gauchehaut{
    background-color: #b40024;
    width: 5px;
    height: 5px;
}

.gauchebas{
    background-color: #b40024;
    width: 5px;
    height: 5px;
}


/*____________________Exercice 4______________________________*/

.triangle01 {
    width: 0;
    height: 0;
    display : inline-block;
    position: relative;
    top: auto;
    border-top : 87px solid transparent;
    border-bottom : 87px solid transparent;
    border-left : 150px solid rgb(153, 0, 255);
}
.triangle02 {
    width: 0;
    height: 0;
    position: relative;
    top: auto;
    display : inline-block;
    border-top : 87px solid transparent;
    border-right : 150px solid rgb(0, 168, 132);
    border-bottom : 87px solid transparent;
}
.triangle03 {
    width: 0;
    height: 0;
    display : inline-block;
    position: relative;
    top: auto;
    border-top : 87px solid transparent;
    border-right : 150px solid rgb(255, 145, 0);
    border-bottom : 87px solid transparent ;
}
.triangle04 {
    width: 0;
    height: 0;
    position: relative;
    top: auto;
    display : inline-block;
    border-top : 87px solid transparent;
    border-bottom : 87px solid transparent;
    border-left : 150px solid  rgb(251, 255, 0);
}
.triangle05 {
    width: 0;
    height: 0;
    display : inline-block;
    position: relative;
    top: auto;
    border-top : 87px solid transparent;
    border-bottom : 87px solid transparent;
    border-left : 150px solid  rgb(0, 255, 221);
}
.triangle06 {
    width: 0;
    height: 0;
    display : inline-block;
    position: relative;
    top: auto;
    border-top : 87px solid transparent;
    border-right : 150px solid rgb(252, 43, 43);
    border-bottom : 87px solid transparent;
}
.triangle07 {
    width: 0;
    height: 0;
    display : inline-block;
    position: relative;
    top: auto;
    border-top : 87px solid transparent;
    border-right : 150px solid rgb(0, 168, 132);
    border-bottom : 87px solid transparent;
}
.triangle08 {
    width: 0;
    height: 0;
    display : inline-block;
    position: relative;
    top: auto;
    border-top : 87px solid transparent;
    border-bottom : 87px solid transparent;
    border-left : 150px solid  rgb(153, 0, 255);
}
.triangle09 {
    width: 0;
    height: 0;
    display : inline-block;
    position: relative;
    top: auto;
    border-top : 87px solid transparent;
    border-bottom : 87px solid transparent;
    border-left : 150px solid  rgb(251, 255, 0);
}
.triangle10 {
    width: 0;
    height: 0;
    display : inline-block;
    position: relative;
    top: auto;
    border-top : 87px solid transparent;
    border-right : 150px solid rgb(255, 145, 0);
    border-bottom : 87px solid transparent ;
}
.triangle11 {
    width: 0;
    height: 0;
    display : inline-block;
    position: relative;
    top: auto;
    border-top : 87px solid transparent;
    border-right : 150px solid rgb(252, 43, 43);
    border-bottom : 87px solid transparent ;
}
.triangle12 {
    width: 0;
    height: 0;
    display : inline-block;
    position: relative;
    top: auto;
    border-top : 87px solid transparent;
    border-bottom : 87px solid transparent;
    border-left : 150px solid  rgb(0, 255, 221);
}